/* NAVBAR -------------------------------------------------------------------------------------------- */
.navbar {
    box-shadow: 0px 0px 5px 0px black;
}

section {
    padding-top: 80px;
    position: relative;
    padding-bottom: 80px;
}

section::before {
    z-index: -1;
    content: '';
    position: absolute;
    font-size: 64px;
    color: gray;
    font-weight: 700;
    top: -30px;
    left: -30px;
}

/* HOME -------------------------------------------------------------------------------------------- */
#home .row {
    align-items: center;
}

#home .home-kiri h3 {
    font-size: 42px;
}

#home .home-kiri h1 {
    font-size: 68px;
}

#home .home-kiri p {
    font-weight: 700;
    margin: 0 0 30px 0;
}

#home .home-kiri a {
    text-decoration: none;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px 30px;
}

#home .home-kiri a:hover {
    color: white;
    background-color: black;

}

#home .home-kanan img {
    width: 100%;
}

#home .arrow {
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#home .arrow a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

#home .arrow a img {
    width: 50px;
}

#home .arrow a#panah {
    animation: updown 1s infinite;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ABOUT -------------------------------------------------------------------------------------------- */
#about::before {
    content: 'About';
}

.job {
    margin-top: 40px;
}

.job .job-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.job .job-detail {
    display: none;
}

.job .job-singkat h5 {
    font-weight: 700;
}

.more .button {
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px 30px;
}

/* penambahan kelas aktif */
.more .button:hover,
.button.active {
    color: white;
    background-color: black;
}


/* WORK -------------------------------------------------------------------------------------------- */
#work::before {
    content: "Work";
}

.work-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-box p {
    width: 45%;
}

.work-box .img-projek {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work1 work2" "work3 work3";
    gap: 16px;
    position: relative;
}

.img-projek img {
    width: 100%;
}

.img-projek .img-item {
    position: relative;
}

.img-projek .img-item:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.work-box .img-projek #work1 {
    grid-area: work1;
}

.work-box .img-projek #work1:hover::after {
    content: "Web Developer";
    color: white;
    font-size: 22px;
    font-weight: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-box .img-projek #work2 {
    grid-area: work2;
}

.work-box .img-projek #work2:hover::after {
    content: "Data Science";
    color: white;
    font-size: 22px;
    font-weight: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-box .img-projek #work3 {
    grid-area: work3;
}

.work-box .img-projek #work3:hover::after {
    content: "Cyber Security";
    color: white;
    font-size: 22px;
    font-weight: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SOSMED -------------------------------------------------------------------------------------------- */
#contact::before {
    content: "Contact";
}

.sosmed-item a {
    margin-right: 5px;
}

.contact .sosmed {
    margin-top: 40px;
}

.contact-box-kanan form {
    border: 1px solid black;
    padding: 42px 24px;
    border-radius: 20px;
}

.contact-box-kanan form label {
    font-weight: 700;
}

.contact-box-kanan button {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 30px;
}


@media only screen and (max-width: 768px) {
    section {
        padding-top: 80px;
        position: relative;
        padding-bottom: 80px;
    }

    section::before {
        z-index: -1;
        content: '';
        position: absolute;
        font-size: 64px;
        color: gray;
        font-weight: 700;
        top: -30px;
        left: 10px;
    }


    #home .row {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    #home .home-kiri {
        width: 100%;
    }

    #home .home-kanan {
        width: 100%;
    }

    .work-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .work-box p {
        width: 100%;
    }

    .work-box .img-projek {
        width: 100%;
    }

    .contact-box {
        display: flex;
        flex-direction: column;
    }

    .contact-box-kiri {
        width: 100%;
    }

    .contact-box-kanan {
        width: 100%;
    }
}